.DS_Store
Thumbs.db
*.swp
*.swo
# commit 5c77c55f
# commit abae88a4
# commit 19b6a22e
# commit 00f55aa6
# commit bd5a7765
# commit fc1a9bec
# commit 9674c3ed
# commit c7b23a34
# commit c8dcd635
# commit 61deabc9
# commit 3290cd76
# commit 9f211994
# commit 4338e9f7
